ion-slide{
    display: block;
    
}
.feedslider{
    border: 2px;
    
}

.right {
    float: right;
    ion-icon {
      font-size: 18px;
    }
  }
  ion-card-content{
    p{
      color:#333333 !important;
    }
  }
  